@tailwind base;
@tailwind components;
@tailwind utilities;

/* #007CF0 (Azul)
   #00DFD8
*/
/* linear-gradient(90deg,var(--start-color),var(--end-color)) */

html {
  scroll-behavior: smooth !important;
}

body {
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.gradient-effect {
  background: linear-gradient(90deg, #007CF0, #00DFD8)
}

.gradient-text {
  background-color: #007CF0;
  background-image: linear-gradient(90deg, #007CF0, #00DFD8);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  
}

.scrollbar::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ccc;
}

.scrollbar::-webkit-scrollbar-track {
  background: #44404061;
}

p {
  line-height: 170%;
  margin-bottom: 3vh;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.title-h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
}

.title-h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.title-h4 {
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) {

  .title {
    font-size: 40px;
  }
  
  .title-h2 {
    font-size: 33px;
  }
  
  .title-h3 {
    font-size: 31px;
  }
  
  .title-h4 {
    font-size: 22px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(90deg, #007CF0, #00DFD8);
}

input:focus + .slider {
  box-shadow: 0 0 1px linear-gradient(90deg, #007CF0, #00DFD8);
}

input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.image-container {
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 40px;
  right: 0px;
  bottom: 0px;
  background: #44404061;
  transform: rotate(56deg);
  border-radius: 50%;
}

img.me {
  position: relative;
  top: -36px;
  border-bottom-left-radius: 41%;
  border-bottom-right-radius: 45%;
}

@media screen and (max-width: 1024px) {
  .image-container::before {
    top: 41px
  }
  
  img.me {
    top: -16px;
    border-bottom-left-radius: 42%;
    border-bottom-right-radius: 48%;
  }
}

@media screen and (min-width: 1250px) {
  img.me {
    border-bottom-right-radius: 41%;
  }
}

@media screen and (min-width: 1300px) {
  .image-container::before {
    left: 15px;
    right: 15px;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 1400px ) {
  img.me {
    top: -17px;
    border-bottom-left-radius: 43%;
    border-bottom-right-radius: 39%;
    margin: auto;
  }
  
  .image-container::before {
    top: 50px;
    left: 50px;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 1600px) {
  img.me {
    top: 0px;
    border-bottom-right-radius: 33%;
  }
}

@media screen and (min-width: 1800px) {
  .image-container::before {
    right: 68px;
  }
}

.portfolio-box {
  padding-left: 10%;
}

@media screen and (min-width: 1150px) {
  .portfolio-box {
    padding-left: 16%;
  }  
}

@media screen and (min-width: 1300px) {
  .portfolio-box {
    padding-left: 20%;
  }  
}

/* @media screen and (min-width: 1300px) {
  .portfolio-box {
    padding-left: 16%;
  }  
} */